@import url('https://https://fonts.google.com/specimen/Indie+Flower');
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Indie Flower' !important;
	color: #222 ;
	font-size: 25px;
}

.header_main {
	position: fixed;
	width: 100%;
	z-index: 2;
}

.navbar {
	background-color: #a6b0b2 !important;
}

.navbar li a {
	color: white !important;
	border-bottom: 3px solid #596c6a;
}

.navbar li a:hover {
	color: black !important;
	border-bottom: 3px solid #101212;
}

.fix_slide {
	position: relative;
	top: 5%;
}

.carousel-inner img {
	height: 590.58px;
	width: 100%;
}

.introduce_us {
	margin-top: 5%;
}

.introduce_us h1 {
	font-size: 50px;
	text-transform: uppercase;
	text-shadow: 5px 5px 15px #000;
}

.welcome hr {
	border-top: 6px solid rgb(62,44,100);
	width: 8%;
	margin-bottom: 2rem;
	margin-top: -1%;
}
.intro h3 {
 	font-size: 25px;
 	font-weight: bolder;
 }

.intro p {
	font-size: 18px;
}

.intro div img {
	height: 100%;
	width: 100%;
}

.intro h4 {
	font-size: 20px;
 	font-weight: bolder;
 	color: #3a94e0;
}

.fix_img img {
	height: 100%;
	width: 100%;
}

.fas {
	font-size: 60px;
	color: blue;
}

.btn {
	font-size: 0.5rem !important;
}

/* media*/
@media only screen and (min-width: 1444px) and (max-width: 1602px){
	.introduce_us {
		margin-top: 8%;
	}
	.navbar li a {
		font-size: 20px;
	}
	.carousel-caption {
		position: absolute;
		top: 20%;
	}

	.carousel-caption h1 {
		text-transform: uppercase;
		text-shadow: 5px 5px 50px #000;
	}

	.btn-outline-primary {
		background-color: rgb(82,64,120) !important;
		border: 1px solid white;
	}
}

@media only screen and (min-width: 1196px) and (max-width: 1443px){
	.introduce_us {
		margin-top: 9%;
	}
	
	.introduce_us h1 {
		font-size: 40px;
	}
	
	.welcome hr {
		width: 20%;
	}

	.navbar li a {
		font-size: 15px;
	}
}

@media only screen and (min-width: 900px) and (max-width: 1195px){
	.introduce_us {
	margin-top: 10%;
	}

	.introduce_us h1 {
		font-size: 35px;
	}
	
	.welcome hr {
		width: 15%;
	}

	.navbar li a {
		font-size: 10px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 899px){
	.introduce_us {
		margin-top: 10%;
	}

	.introduce_us h1 {
		font-size: 30px;
	}
	
	.welcome hr {
		width: 15%;
	}

	.navbar li a {
		font-size: 5px;
	}
}
@media only screen and (max-width: 768px) {
	.introduce_us {
	margin-top: 11%;
	}

	.introduce_u h1 {
		font-size: 25px;
	}

	.welcome hr {
		width: 12%;
	}
}

/*@media only screen and (min-width: 768px){
	.navbar li a {
		font-size: 12px;
	}
	.carousel-caption {
	position: absolute;
	top: 20%;
	}

.carousel-caption h1 {
	text-transform: uppercase;
	text-shadow: 5px 5px 50px #000;
	}

.btn-outline-primary {
	background-color: rgb(82,64,120) !important;
	border: 1px solid white;
	}
}

@media only screen and (min-width: 767px) {
	
}

@media only screen and (max-width: 576px){
	.carousel-caption {
	position: absolute;
	top: 20%;
	}

.carousel-caption h1 {
	text-transform: uppercase;
	text-shadow: 5px 5px 50px #000;
	}

.btn-outline-primary {
	background-color: rgb(82,64,120) !important;
	border: 1px solid white;
	}
}*/